    <footer>
        <div class="container">
           <div class="footer-left">
               <div class="logo-footer">
                    <div class="logo"></div>
                    <p>интернет-магазин инструментов</p>
                    <a href="#"></a>
                </div>
                 <p class="copyright">Copyright © 2017, All rights reserved.</p>
           </div>
           <div class="social">
                    <a href="#" id='insta'></a>
                    <a href="#" id='youtube'></a>
            </div>
        </div>
    </footer>
    
    <script src="libs/jquery.min.js"></script>
    <script src="../libs/jquery.maskedinput.min.js"></script>
	<script src="libs/slick-1.8.0/slick/slick.min.js"></script>
    <script src="js/all.js"></script>
</body>
</html>