//= template/header.html
<div class="all-center-content">
    <div class="intro"></div>
    <section class="catalog-page">
        <div class="filters-mobile">
            <div class='filters-mob-tittle'>
                <h3>Фильтры</h3>
                <div class="close">
                    <p class="first"></p>
                    <p class="second"></p>
                </div>
            </div>
            <div class="filter-one">
                <h3>Цена<span><i class="fas fa-angle-down"></i></span></h3>
                <div class="filter-content">
                   <form class="price">
                       <input type="number">
                       <span></span>
                       <input type="number">
                       <button>ОК</button>
                   </form>
                </div>
            </div>
           <div class="filter-one diameter">
               <h3>Диаметр<span><i class="fas fa-angle-down"></i></span></h3>
                <div class="filter-content">
                    <form>
                        <div class="checkbox">
                            <input id='diameter_1' name="diameter_1" type="checkbox"> 
                            <label for='diameter_1'>125 мм (9)</label>
                         </div>
                         <div class="checkbox">
                             <input type="checkbox" id='diameter_2' name="diameter_2"> 
                             <label for='diameter_2'>230 мм (4)</label>
                         </div>
                   </form>
               </div>
           </div>
           <div class="filter-one manufacturer">
               <h3>Производитель<span><i class="fas fa-angle-down"></i></span></h3>
               <div class="filter-content">
                   <form>
                        <div class="checkbox">
                            <input id='manufacturer_3' name="manufacturer_3" type="checkbox"> 
                            <label for='manufacturer_3'>125 мм (9)</label>
                         </div>
                         <div class="checkbox">
                             <input type="checkbox" id='manufacturer_4' name="manufacturer_4"> 
                             <label for='manufacturer_4'>230 мм (4)</label>
                         </div>
                   </form>
               </div>
           </div>
        </div>
        <div class="catalog-tabs">
           <div class="open close">
                <h3>Каталог</h3>
                <div class="btn-menu">
                  <p class="first"></p>
                  <p class="second"></p>
                  <p class="third"></p>
                </div>
            </div>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a href='index.html'>Главная</a></li>
                <li><a href='catalog.html'>Угловые шлифмашины</a></li>
            </ul>
        </div>
            <div class="catalog-open">
                <ul>
                    <li><a href="catalog.html">Отрезные круги</a></li>
                    <li><a href="catalog.html">Зачистные круги</a></li>
                    <li><a href="catalog.html">Электроды сварочные</a></li>
                    <li><a href="catalog.html">Проволока сварочная</a></li>
                    <li><a href="catalog.html">Круги лепестковые</a></li>
                    <li><a href="catalog.html">Щетки по металлу</a></li>
                    <li><a href="catalog.html">Алмазные диски по бетону</a></li>
                    <li><a href="catalog.html">Алмазные диски универсальные</a></li>
                    <li><a href="catalog.html">Сварочные маски</a></li>
                    <li><a href="catalog.html">Очки защитные</a></li>
                    <li><a href="catalog.html">Светофильтры</a></li>
                    <li><a href="catalog.html">Наконечники, сопла</a></li>
                    <li><a href="catalog.html">Сварочные горелки</a></li>
                    <li><a href="catalog.html">Запчасти</a></li>
                    <li><a href="catalog.html">Электрододержатели</a></li>
                    <li><a href="catalog.html">Клеммы массы</a></li>
                    <li><a href="catalog.html">Наконечники, сопла</a></li>
                    <li><a href="catalog.html">Газовые редукторы</a></li>
                    <li><a href="catalog.html">Манометры</a></li>
                    <li><a href="catalog.html">Кислородные шланги</a></li>
                    <li><a href="catalog.html">Перчатки</a></li>
                    <li><a href="catalog.html">Угловые шлифмашины</a></li>
                    <li><a href="catalog.html">Сварочные аппараты</a></li>
                </ul>
            </div>
    </section>
    <section class="mobile-section">
        <div class="slider-catalog">
           <div class="slide-catalog"></div>
       </div>
       <div class="sort_filters">
           <a class="sort">Сортировать</a>
           <a class="filters">Фильтровать</a>
       </div>
    </section>
    <section class="container main-contant">
        <div class="filters">
           <div class="filter-one">
               <h3>Цена<span><i class="fas fa-angle-down"></i></span></h3>
               <div class="filter-content">
                   <form class="price">
                       <input type="number">
                       <span></span>
                       <input type="number">
                       <button>ОК</button>
                   </form>
               </div>
           </div>
           <div class="filter-one diameter">
               <h3>Диаметр<span><i class="fas fa-angle-down"></i></span></h3>
                <div class="filter-content">
                    <form>
                        <div class="checkbox">
                            <input id='diameter_1' name="diameter_1" type="checkbox"> 
                            <label for='diameter_1'>125 мм (9)</label>
                         </div>
                         <div class="checkbox">
                             <input type="checkbox" id='diameter_2' name="diameter_2"> 
                             <label for='diameter_2'>230 мм (4)</label>
                         </div>
                   </form>
               </div>
           </div>
           <div class="filter-one manufacturer">
               <h3>Производитель<span><i class="fas fa-angle-down"></i></span></h3>
               <div class="filter-content">
                   <form>
                        <div class="checkbox">
                            <input id='manufacturer_3' name="manufacturer_3" type="checkbox"> 
                            <label for='manufacturer_3'>125 мм (9)</label>
                         </div>
                         <div class="checkbox">
                             <input type="checkbox" id='manufacturer_4' name="manufacturer_4"> 
                             <label for='manufacturer_4'>230 мм (4)</label>
                         </div>
                   </form>
               </div>
           </div>
        </div>
        <div class="cat-contant">
        <div class="line-with-sort">
            <div class="grey-line">
            <h3>Угловые шлифмашины</h3>
            <form>
                <select>
                    <option>сортировать по</option>
                </select>
            </form>
            </div>
            
        </div>
        <div class="category-baner"></div>
        <div class="product-tablets">
            <div class="product-block">
                <div class="product">
                    <div class="labels">
                       <span class="news">новинка</span>
                       <span class="hit">хит</span>
                       <span class="sale">-15%</span>
                    </div>
                   <div class="product-top">
                      <div class="product-img"></div>
                       <h3 class="product-title"><a href='product.html'>Угловая шлифмашина Dnipro-M GS-98</a></h3>
                       <div class="price">от<span>7,90 грн.</span></div> 
                   </div>
                   <div>
                        <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                        <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                        есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                        нет в наличии</p>
                        <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                        </div>
                        <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket">
                           <span>
                             <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                                                    <style type="text/css">
                                                        .st0{fill:#F94952;}
                                                    </style>
                                                    <g>
                                                    <g>
                                                    <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                                                        l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                                                        l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                                                        h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                                                         M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                                        C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                                        C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                                        C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                                        C29.6,28.2,28.8,29,27.9,29z"/>
                                                    </g>
                                                    </g>
                               </svg>
                           </span>
                           <span class="basket-title">Корзина</span>
                           </button>
                        </form>
                   </div>
               </div>
                <div class="product default">
                   <div class="product-top">
                       <div class="product-img"></div>
                       <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                       <div class="price"><span>849 грн.</span></div>
                   </div>
                   <div>
                       <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                       <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
    есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
    нет в наличии</p>
                      <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                       </div>
                       <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket"><span>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve"><style type="text/css">.st0{fill:#F94952;}</style>
                                <g>
                                <g>
                                <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                                l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                                l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                                h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                                 M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                C29.6,28.2,28.8,29,27.9,29z"/>
                                </g>
                                </g>
                                </svg>
                           </span>
                           <span class="basket-title">Корзина</span></button>
                       </form>
                   </div>
               </div>
                <div class="product">
                   <div class="product-top">
                      <div class="product-img"></div>
                       <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                       <div class="price">от<span>7,90 грн.</span></div> 
                   </div>
                   <div>
                        <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                        <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                        есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                        нет в наличии</p>
                        <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                        </div>
                        <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket">
                           <span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve"><style type="text/css">.st0{fill:#F94952;}</style>
                            <g>
                            <g>
                            <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                            </g>
                            </g>
                            </svg>
                           </span>
                           <span class="basket-title">Корзина</span>
                           </button>
                        </form>
                   </div>
               </div>
                <div class="product varient">
                   <div class="product-top">
                      <div class="product-img"></div>
                       <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                       <div class="price">от<span>7,90 грн.</span></div>
                       <div class="price-varient"> 
                          <div>
                             <h3>ОПТОВАЯ ЦЕНА</h3>
                             <p><span>от 3 шт.</span><span> — </span><span class="value">985 грн.</span></p> 
                          </div> 
                          <div>
                             <h3>РОЗНИЧНАЯ ЦЕНА</h3>
                             <p><span>от 1 шт.</span><span> — </span><span class="value">1085 грн.</span></p> 
                          </div> 
                       </div>
                   </div>
                   <div>
                        <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                        <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                        есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                        нет в наличии</p>
                        <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                        </div>
                        <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket">
                           <span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve"><style type="text/css">.st0{fill:#F94952;}</style>
                            <g>
                            <g>
                            <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                            </g>
                            </g>
                            </svg>
                           </span>
                           <span class="basket-title">Корзина</span>
                           </button>
                        </form>
                   </div>
               </div>
                <div class="product varient">
                   <div class="product-top">
                       <div class="product-img"></div>
                       <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                       <div class="price">от<span>7,90 грн.</span></div>
                       <div class="price-varient">
                          <div>
                             <h3>КРУПНО ОПТОВАЯ ЦЕНА</h3>
                             <p><span>от 20 шт.</span><span> — </span><span class="value">885 грн.</span></p>
                          </div>  
                          <div>
                             <h3>ОПТОВАЯ ЦЕНА</h3>
                             <p><span>от 3 шт.</span><span> — </span><span class="value">985 грн.</span></p> 
                          </div> 
                          <div>
                             <h3>РОЗНИЧНАЯ ЦЕНА</h3>
                             <p><span>от 1 шт.</span><span> — </span><span class="value">1085 грн.</span></p> 
                          </div> 
                       </div>
                   </div>
                   <div>
                       <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                       <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
    есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
    нет в наличии</p>
                      <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                       </div>
                       <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket"><span>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#F94952;}
                            </style>
                            <g>
                            <g>
                            <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                                l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                                l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                                h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                                 M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                C29.6,28.2,28.8,29,27.9,29z"/>
                            </g>
                            </g>
                            </svg>
                           </span>
                           <span class="basket-title">Корзина</span></button>
                       </form>
                   </div>
               </div>
                <div class="product varient">
                   <div class="product-top">
                       <div class="product-img"></div>
                       <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                       <div class="price">от<span>7,90 грн.</span></div>
                       <div class="price-varient">
                          <div>
                             <h3>КРУПНО ОПТОВАЯ ЦЕНА</h3>
                             <p><span>от 20 шт.</span><span> — </span><span class="value">885 грн.</span></p>
                          </div>  
                          <div>
                             <h3>ОПТОВАЯ ЦЕНА</h3>
                             <p><span>от 3 шт.</span><span> — </span><span class="value">985 грн.</span></p> 
                          </div> 
                          <div>
                             <h3>РОЗНИЧНАЯ ЦЕНА</h3>
                             <p><span>от 1 шт.</span><span> — </span><span class="value">1085 грн.</span></p> 
                          </div> 
                       </div>
                   </div>
                   <div>
                       <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                       <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
    есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
    нет в наличии</p>
                      <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                       </div>
                       <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket"><span>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#F94952;}
                            </style>
                            <g>
                            <g>
                            <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                                l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                                l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                                h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                                 M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                C29.6,28.2,28.8,29,27.9,29z"/>
                            </g>
                            </g>
                            </svg>
                           </span>
                           <span class="basket-title">Корзина</span></button>
                       </form>
                   </div>
               </div>
           </div>
           <a href='#' class="show-more">Показать еще 30 товаров</a>
           <div class="pagination">
                <span><i class="fas fa-angle-left"></i></span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span class="dots">...</span>
                <span><i class="fas fa-angle-right"></i></span>
           </div>
        </div>
        </div>
    </section>
    <section>
        <div class="container product-tablets">
            <div class="grey-line"><h3>Просмотренные товары</h3></div>
            <div class="product-block">
                <div class="product">
                   <div class="labels">
                       <span class="news">новинка</span>
                       <span class="hit">хит</span>
                       <span class="sale">-15%</span>
                   </div>
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket">
                       <span>
                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
                </div>
                <div class="product default">
                    <div class="product-img"></div>
                    <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                    <div class="price"><span>849 грн.</span></div>
                    <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                    <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                    есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                    нет в наличии</p>
                    <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                    </div>
                    <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                    </form>
                </div>
           </div>
        </div>
    </section>
    <section>
        <div class="container all-text">
           <h3>Интернет-магазин электро и бензоинструмента</h3>
           <p>Интернет-магазин <span>VAREZ</span> специализируется на продаже электро, бензоинструмента и строительной техники. 
Наша цель: Предоставить потребителю возможность комфортно выбрать сварочное оборудование, ручной электроинструмент, садовую технику, строительное оборудование из ассортимента уже проверенных нами товаров. Итак, если вы ищете электроинструмент, то вы нашли подходящее место. Мы не распыляемся как многие другие. Здесь вы найдете инструмент. Никакие "чайники" и "кеды" не будут вас отвлекать!</p>
           <h3>Типы ручного электроинструмента, который можно купить в интернет-магазине</h3>
           <p>У нас вы можете купить электрическую дрель, аккумуляторный шуруповерт, перфоратор, сварочный аппарат, такие инструменты по профильной работе с деревом как: циркулярная или торцовочная пила, лобзик и рубанок. Если необходимо навести порядок в саду выбирайте мотокосу (бензиновый или электрический триммер), газонокосилку, бензопилу, мотоопрыскиватель. К этому мы предлагаем рассмотреть и купить такое оборудование как бензиновый генератор, стабилизатор напряжения, зарядное устройство, компрессор,тепловую пушку.</p>
           <h3>Качественный ручной электроинструмент известных брендов</h3>
           <p>У нас вы можете купить электрическую дрель, аккумуляторный шуруповерт, перфоратор, сварочный аппарат, такие инструменты по профильной работе с деревом как: циркулярная или торцовочная пила, лобзик и рубанок. Если необходимо навести порядок в саду выбирайте мотокосу (бензиновый или электрический триммер), газонокосилку, бензопилу, мотоопрыскиватель. К этому мы предлагаем рассмотреть и купить такое оборудование как бензиновый генератор, стабилизатор напряжения, зарядное устройство, компрессор,тепловую пушку.</p>
            
        </div>
    </section>
</div>
//= template/footer.html