//= template/header.html
<div class="all-center-content">
    <section class="catalog-page">
    <div class="catalog-tabs">
       <div class="open close">
            <h3>Каталог</h3>
            <div class="btn-menu">
              <p class="first"></p>
              <p class="second"></p>
              <p class="third"></p>
            </div>
        </div> 
    </div>
    <div class="breadcrumbs">
        <ul>
            <li><a href='index.html'>Главная</a></li>
            <li><a href='checout.html'>Оформление заказа</a></li>
        </ul>
    </div>
        <div class="catalog-open">
            <ul>
                <li><a href="catalog.html">Отрезные круги</a></li>
                <li><a href="catalog.html">Зачистные круги</a></li>
                <li><a href="catalog.html">Электроды сварочные</a></li>
                <li><a href="catalog.html">Проволока сварочная</a></li>
                <li><a href="catalog.html">Круги лепестковые</a></li>
                <li><a href="catalog.html">Щетки по металлу</a></li>
                <li><a href="catalog.html">Алмазные диски по бетону</a></li>
                <li><a href="catalog.html">Алмазные диски универсальные</a></li>
                <li><a href="catalog.html">Сварочные маски</a></li>
                <li><a href="catalog.html">Очки защитные</a></li>
                <li><a href="catalog.html">Светофильтры</a></li>
                <li><a href="catalog.html">Наконечники, сопла</a></li>
                <li><a href="catalog.html">Сварочные горелки</a></li>
                <li><a href="catalog.html">Запчасти</a></li>
                <li><a href="catalog.html">Электрододержатели</a></li>
                <li><a href="catalog.html">Клеммы массы</a></li>
                <li><a href="catalog.html">Наконечники, сопла</a></li>
                <li><a href="catalog.html">Газовые редукторы</a></li>
                <li><a href="catalog.html">Манометры</a></li>
                <li><a href="catalog.html">Кислородные шланги</a></li>
                <li><a href="catalog.html">Перчатки</a></li>
                <li><a href="catalog.html">Угловые шлифмашины</a></li>
                <li><a href="catalog.html">Сварочные аппараты</a></li>
            </ul>
        </div>
</section>
    <section class="checout-page container">
        <div class="grey-line"><h3>Оформление заказа</h3></div>
        <div class="checout-content">
            <div class="checout-left">
            <div class="delivery">
                <div class="delivery-img wallet"></div>
                <p>Возможна оплата доставки по безналу в комментариях указывайте юр.лицо и ЄДРПОУ</p>
            </div>
            <div class="delivery">
                <div class="delivery-img car"></div>
                <p>Возможна так же доставка Интайм, Гюнсел, Автолюкс и другие, указывайте способ доставки "Другой" и пишите нужную ТК в комментариях</p>
            </div>
            <form class="checout-form">
                <input type='text' placeholder="ФИО получателя посылки">
                <input type='text' placeholder="Телефон получателя посылки">
                <span>Способ доставки:</span>
                <select>
                    <option>Новая почта ( в отделении)</option>
                    <option>Новая почта ( в отделении)</option>
                    <option>Новая почта ( в отделении)</option>
                    <option>Новая почта ( в отделении)</option>
                </select>
                <span>Способ оплаты:</span>
                <select>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                </select>
                <select>
                    <option selected class="disabled-option">Выберите город</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                </select>
                <select>
                    <option class="disabled-option">Выберите отделение</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                    <option>Наложенный платеж ( оплата в отделении)</option>
                </select>
                <textarea placeholder="Комментарий к заказу (0/500) :"></textarea>
            </form>
            <div>
                <div class="finish-price">
                    <p>Сумма заказа:</p>
                    <p>1010 грн.</p>
                </div>
                <div class="finish-price">
                    <p>Доставка:</p>
                    <p>по тарифам транспортной компании</p>
                </div>
                <div class="finish-price">
                    <p>К оплате:</p>
                    <p>1010 грн. + стоимость доставки</p>
                </div>
            </div>
            <div class="cart-finish">
               <button class="order">Оформить заказ</button>
            </div> 

        </div>
            <div class="checout-cart">
               <h3>Всего товаров в корзине: 2</h3>
                    <div class="cart-product">
                        <div class="cart-img"></div>
                        <div class="cart-info">
                            <p class="article"><span>артикул:</span>WH-0008</p>
                            <p>Сварочная маска VITA Optech S777C череп в огне</p>
                        </div>
                            <div class="number">
                                <p>Кол-во:</p>
                                <div class="quantity">
                                   <div class="minus"><span></span></div>
                                    <input value="1" class="inputCount">
                                    <div class="plus"><span></span></div>
                                </div>
                            </div>
                            <div class="cart-price">
                                <p>Цена:</p>
                                <p class="price">980 грн.</p>
                            </div>
                        <div class="delete">
                            <div class="btn-delete">
                                <p class="first"></p>
                                <p class="second"></p>
                            </div>
                        </div>
                    </div>
                    <div class="cart-product">
                        <div class="cart-img"></div>
                        <div class="cart-info">
                            <p class="article"><span>артикул:</span>WH-0008</p>
                            <p>Сварочная маска VITA Optech S777C череп в огне</p>
                        </div>
                            <div class="number">
                                <p>Кол-во:</p>
                                <div class="quantity">
                                   <div class="minus"><span></span></div>
                                    <input value="1" class="inputCount" data-input='headPhone'>
                                    <div class="plus"><span></span></div>
                                </div>
                            </div>
                            <div class="cart-price">
                                <p>Цена:</p>
                                <p class="price">980 грн.</p>
                            </div>
                        <div class="delete">
                            <div class="btn-delete">
                                <p class="first"></p>
                                <p class="second"></p>
                            </div>
                        </div>
                    </div>
                    <div class="cart-product">
                        <div class="cart-img"></div>
                        <div class="cart-info">
                            <p class="article"><span>артикул:</span>WH-0008</p>
                            <p>Сварочная маска VITA Optech S777C череп в огне</p>
                        </div>
                            <div class="number">
                                <p>Кол-во:</p>
                                <div class="quantity">
                                   <div class="minus"><span></span></div>
                                    <input value="1" class="inputCount">
                                    <div class="plus"><span></span></div>
                                </div>
                            </div>
                            <div class="cart-price">
                                <p>Цена:</p>
                                <p class="price">980 грн.</p>
                            </div>
                        <div class="delete">
                            <div class="btn-delete">
                                <p class="first"></p>
                                <p class="second"></p>
                            </div>
                        </div>
                    </div>
                    <div class="summ-all">
                        <p>Сумма заказа:</p>
                        <p>1010 грн.</p>
                    </div>           
            </div>
            <div class="checout-cart-mobile">
                <h3>Всего товаров в корзине: 2</h3>
                    <div class="cart-product">
                        <div class='cart-product-top'>
                            <div class="cart-img"></div>
                            <div class="cart-info">
                                <p class="article"><span>артикул:</span>WH-0008</p>
                                <p>Сварочная маска VITA Optech S777C череп в огне</p>
                            </div>
                            <div class="delete">
                                <div class="btn-delete">
                                    <p class="first"></p>
                                    <p class="second"></p>
                                </div>
                            </div>
                        </div>
                        <div class="cart-product-bottom">
                            <div class="number">
                                <p>Кол-во:</p>
                                <div class="quantity">
                                   <div class="minus"><span></span></div>
                                    <input value="1" class="inputCount">
                                    <div class="plus"><span></span></div>
                                </div>
                            </div>
                            <div class="cart-price">
                                <p>Цена:</p>
                                <p class="price">980 грн.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cart-product">
                        <div class='cart-product-top'>
                            <div class="cart-img"></div>
                            <div class="cart-info">
                                <p class="article"><span>артикул:</span>WH-0008</p>
                                <p>Сварочная маска VITA Optech S777C череп в огне</p>
                            </div>
                            <div class="delete">
                                <div class="btn-delete">
                                    <p class="first"></p>
                                    <p class="second"></p>
                                </div>
                            </div>
                        </div>
                        <div class="cart-product-bottom">
                            <div class="number">
                                <p>Кол-во:</p>
                                <div class="quantity">
                                   <div class="minus"><span></span></div>
                                    <input value="1" class="inputCount">
                                    <div class="plus"><span></span></div>
                                </div>
                            </div>
                            <div class="cart-price">
                                <p>Цена:</p>
                                <p class="price">980 грн.</p>
                            </div>
                        </div>
                    </div>
                    <div class="summ-all">
                        <p>Сумма заказа:</p>
                        <p>1010 грн.</p>
                    </div>
            </div>
        </div>
        <div class="checout-content-finish">
            <div class="finish-img"></div>
            <h3>Спасибо, ваш заказ успешно отправлен на обработку!</h3>
            <p>После обработки заказа, менеджер свяжется с Вами для подтверждения.</p>
        </div>
    </section>
</div>
//= template/footer.html