//= template/header.html
<div class="all-center-content">
    <section class="catalog-page">
        <div class="catalog-tabs">
           <div class="open close">
                <h3>Каталог</h3>
                <div class="btn-menu">
                  <p class="first"></p>
                  <p class="second"></p>
                  <p class="third"></p>
                </div>
            </div> 
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a href='index.html'>Главная</a></li>
                <li><a href='catalog.html'>Контактная  информация</a></li>
            </ul>
        </div>
            <div class="catalog-open">
                <ul>
                    <li><a href="catalog.html">Отрезные круги</a></li>
                    <li><a href="catalog.html">Зачистные круги</a></li>
                    <li><a href="catalog.html">Электроды сварочные</a></li>
                    <li><a href="catalog.html">Проволока сварочная</a></li>
                    <li><a href="catalog.html">Круги лепестковые</a></li>
                    <li><a href="catalog.html">Щетки по металлу</a></li>
                    <li><a href="catalog.html">Алмазные диски по бетону</a></li>
                    <li><a href="catalog.html">Алмазные диски универсальные</a></li>
                    <li><a href="catalog.html">Сварочные маски</a></li>
                    <li><a href="catalog.html">Очки защитные</a></li>
                    <li><a href="catalog.html">Светофильтры</a></li>
                    <li><a href="catalog.html">Наконечники, сопла</a></li>
                    <li><a href="catalog.html">Сварочные горелки</a></li>
                    <li><a href="catalog.html">Запчасти</a></li>
                    <li><a href="catalog.html">Электрододержатели</a></li>
                    <li><a href="catalog.html">Клеммы массы</a></li>
                    <li><a href="catalog.html">Наконечники, сопла</a></li>
                    <li><a href="catalog.html">Газовые редукторы</a></li>
                    <li><a href="catalog.html">Манометры</a></li>
                    <li><a href="catalog.html">Кислородные шланги</a></li>
                    <li><a href="catalog.html">Перчатки</a></li>
                    <li><a href="catalog.html">Угловые шлифмашины</a></li>
                    <li><a href="catalog.html">Сварочные аппараты</a></li>
                </ul>
            </div>
    </section>
    <section class="map-container">
       <div class="map"></div>
        <div class="container">
            <div class="contact-information">
                <div class="grey-line"><h3>Контактная  информация</h3></div>
                <div class="info">
                    <p>Контактное лицо:</p>
                    <p>Влад</p>
                </div>
                <div class="info">
                    <p>Город отправления:</p>
                    <p>Николаев, Украина</p>
                </div>
                <div class="info">
                    <p>Телефон:</p>
                    <div>
                        <p><a href='tel:+38(066)93-11-271'>+38(066)93-11-271</a></p>
                        <p><a href='tel:+38(098)46-92-447'>+38(098)46-92-447</a></p>
                        <p><a href='tel:+38(093)49-24-067'>+38(093)49-24-067</a></p>
                    </div>
                </div>
                <div class="info">
                    <p>Viber:</p>
                    <p>+38(066)93-11-271</p>
                </div>
                <div class="info">
                    <p>E-mail:</p>
                    <p class="email">vlad.vyrvy@gmail.com</p>
                </div>
                <h4>Заказы по телефону принимаются</h4>
                <div class="info">
                    <p>Понедельник — Пятница</p>
                    <p>9:00 — 20:00</p>
                </div>
                <div class="info">
                    <p>Суббота — Воскресенье</p>
                    <p>13:00 — 17:00</p>
                </div>
            </div>
        </div>
    </section>
</div>
//= template/footer.html