//= template/header.html
<div class="all-center-content">
    <section class="catalog-page">
        <div class="catalog-tabs">
           <div class="open close">
                <h3>Каталог</h3>
                <div class="btn-menu">
                  <p class="first"></p>
                  <p class="second"></p>
                  <p class="third"></p>
                </div>
            </div> 
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a href='index.html'>Главная</a></li>
                <li><a href='catalog.html'>Условия доставки и оплаты</a></li>
            </ul>
        </div>
            <div class="catalog-open">
                <ul>
                    <li><a href="catalog.html">Отрезные круги</a></li>
                    <li><a href="catalog.html">Зачистные круги</a></li>
                    <li><a href="catalog.html">Электроды сварочные</a></li>
                    <li><a href="catalog.html">Проволока сварочная</a></li>
                    <li><a href="catalog.html">Круги лепестковые</a></li>
                    <li><a href="catalog.html">Щетки по металлу</a></li>
                    <li><a href="catalog.html">Алмазные диски по бетону</a></li>
                    <li><a href="catalog.html">Алмазные диски универсальные</a></li>
                    <li><a href="catalog.html">Сварочные маски</a></li>
                    <li><a href="catalog.html">Очки защитные</a></li>
                    <li><a href="catalog.html">Светофильтры</a></li>
                    <li><a href="catalog.html">Наконечники, сопла</a></li>
                    <li><a href="catalog.html">Сварочные горелки</a></li>
                    <li><a href="catalog.html">Запчасти</a></li>
                    <li><a href="catalog.html">Электрододержатели</a></li>
                    <li><a href="catalog.html">Клеммы массы</a></li>
                    <li><a href="catalog.html">Наконечники, сопла</a></li>
                    <li><a href="catalog.html">Газовые редукторы</a></li>
                    <li><a href="catalog.html">Манометры</a></li>
                    <li><a href="catalog.html">Кислородные шланги</a></li>
                    <li><a href="catalog.html">Перчатки</a></li>
                    <li><a href="catalog.html">Угловые шлифмашины</a></li>
                    <li><a href="catalog.html">Сварочные аппараты</a></li>
                </ul>
            </div>
    </section>
    <section class="page-in-menu container">
       <div class="grey-line"><h3>Условия доставки и оплаты</h3></div>
       <h4>Способы доставки:</h4>
       <ul>
           <li>Новая Почта</li>
           <li>Ин-Тайм</li>
       </ul>
       <p class="condition">* Услуги транспортной компании оплачивает получатель.</p>
       <h4>Способы оплаты:</h4>
       <ul>
           <li>Наложенный платеж</li>
           <li>Карта ПриватБанка</li>
           <li>Наличными</li>
       </ul>
       <h4>Дни отправлений:</h4>
       <div class="delivery-time">
           <div class="days">
               <div><p>Понедельник — Пятница:</p><p>До 17:00</p></div>
               <div><p>Суббота — Воскресенье:</p><p>Только прием заказов</p></div>
           </div>
       </div>
       
        
    </section>
</div>
//= template/footer.html