//= template/header.html
<div class="all-center-content">
   <div class="slider-catalog-index">
        <div class="slider-baner">
    <!--
            <div class="slide-baner slide1">
                <div class="container">
                   <div class="baner-img"></div>
                   <div class="baner-text">
                       <h3>Угловая шлифмашина 
    Дніпро-М МШК-1250Р</h3>
                      <p class="baner-price">956 грн.</p>
                      <a href='product.html' class="baner-btn">смотреть подробнее</a>
                   </div>  
                </div>
            </div>
    -->
            <div class="slide-baner slide1"></div>
            <div class="slide-baner slide2"></div>
            <div class="slide-baner slide3"></div>
        </div>
        <div class="header-catalog">
            <div class="catalog-tabs">
               <div class="open">
                    <h3>Каталог</h3>
                    <div class="btn-menu">
                      <p class="first"></p>
                      <p class="second"></p>
                      <p class="third"></p>
                    </div>
                </div>
            </div>
            <div class="catalog-open">
                <ul>
                    <li><a href="catalog.html">Отрезные круги</a></li>
                    <li><a href="catalog.html">Зачистные круги</a></li>
                    <li><a href="catalog.html">Электроды сварочные</a></li>
                    <li><a href="catalog.html">Проволока сварочная</a></li>
                    <li><a href="catalog.html">Круги лепестковые</a></li>
                    <li><a href="catalog.html">Щетки по металлу</a></li>
                    <li class="header-all-category"><a class='go_to' href='#categories-scroll'>Все категории<span></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <section>
        <div class="container product-tablets recommenda-product">
          <div class="grey-line"><h3>Рекомендуемые товары</h3></div>
           <div class="product-block">
               <div class="product finished">
                   <div class="labels">
                       <span class="ending">заканчивается</span>
                       <span class="news">новинка</span>
                       <span class="hit">хит</span>
                       <span class="sale">-15%</span>
                   </div>
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket">
                       <span>
                         <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                                                <style type="text/css">
                                                    .st0{fill:#F94952;}
                                                </style>
                                                <g>
                                                <g>
                                                <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                                                    l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                                                    l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                                                    h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                                                     M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                                    C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                                    C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                                    C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                                    C29.6,28.2,28.8,29,27.9,29z"/>
                                                </g>
                                                </g>
                           </svg>
                       </span>
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
               </div>
               <div class="product default">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price"><span>849 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
                  <div class="product">
                       <div class="product-img"></div>
                       <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98 Dnipro-M GS-98</h3>
                       <div class="price"><span>800 грн.</span></div>
                       <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                       <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                      <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                       </div>
                       <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket"><span>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                           </span>
                           <span class="basket-title">Корзина</span>
                           </button>
                       </form>
                   </div>
               <div class="product">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>885 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
               </div>
               <div class="product varient">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <div class="price-varient">
                      <div>
                         <h3>КРУПНО ОПТОВАЯ ЦЕНА</h3>
                         <p><span>от 20 шт.</span><span> — </span><span class="value">885 грн.</span></p>
                      </div>  
                      <div>
                         <h3>ОПТОВАЯ ЦЕНА</h3>
                         <p><span>от 3 шт.</span><span> — </span><span class="value">985 грн.</span></p> 
                      </div> 
                      <div>
                         <h3>РОЗНИЧНАЯ ЦЕНА</h3>
                         <p><span>от 1 шт.</span><span> — </span><span class="value">1085 грн.</span></p> 
                      </div> 
                   </div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
               <div class="product">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price"><span>885 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
           </div>
        </div>
    </section>
    <section class="categories" id='categories-scroll'>
        <div class="container all-prod">
            <div class="grey-line"><h3>Каталог товаров</h3></div>
            <div class="product-block">
                <div class="product-categories">
                    <h3 class="categories-title">Отрезные круги</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Зачистные круги</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Электроды сварочные</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Проволока сварочная</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Круги лепестковые</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Щетки по металлу</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Алмазные диски по бетону</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Алмазные диски универсальные</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Сварочные маски</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Очки защитные</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Светофильтры</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Наконечники, сопла</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Сварочные горелки</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="product-categories">
                    <h3 class="categories-title">Запчасти</h3>
                    <div class="categories-img"></div>
                    <div class="cat-bg"></div>
                    <a href="catalog.html"></a>
                </div>
                <div class="call">
                   <h3>Не нашли нужный товар?</h3>
                   <p>Спросите нашего менеджера</p>
                   <a class='btn-call' href="">заказать звонок</a>
                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container product-tablets watched-product">
            <div class="grey-line"><h3>Просмотренные товары</h3></div>
            <div class="product-block">
                <div class="product">
                   <div class="labels">
                       <span class="news">новинка</span>
                       <span class="hit">хит</span>
                       <span class="sale">-15%</span>
                   </div>
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket">
                       <span>
                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
                </div>
                <div class="product">
                   <div class="labels">
                       <span class="news">новинка</span>
                       <span class="hit">хит</span>
                       <span class="sale">-15%</span>
                   </div>
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket">
                       <span>
                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
                </div>
                <div class="product default">
                    <div class="product-img"></div>
                    <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                    <div class="price"><span>849 грн.</span></div>
                    <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                    <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                    есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                    нет в наличии</p>
                    <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                    </div>
                    <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                    </form>
                </div>
           </div>
        </div>
    </section>
    <section class="container">
        <div class="grey-line"><h3>Последние отзывы</h3></div>
        <div class="reviews">
           <div class="reviews-slide">
               <div class="review-img"><div></div></div>
               <h3 class="review-title">Угловая шлифмашина Дніпро-М МШК-1250Р</h3>
               <span class="quotes">“</span>
               <h4 class="review-text">Безусловно, первое на что обращается внимание - это цена Протон ИСА 245. Не смотря на низкую стоимость, инвертор оснащен надежными...</h4>
               <p class="review-author">Александр Дмитренко</p>
               <a href='#' class="review-link"></a>
           </div> 
           <div class="reviews-slide">
               <div class="review-img"><div></div></div>
               <h3 class="review-title">Угловая шлифмашина Дніпро-М МШК-1250Р</h3>
               <span class="quotes">“</span>
               <h4 class="review-text">Безусловно, первое на что обращается внимание - это цена Протон ИСА 245. Не смотря на низкую стоимость, инвертор оснащен надежными...</h4>
               <p class="review-author">Александр Дмитренко</p>
               <a href='#' class="review-link"></a>
           </div> 
           <div class="reviews-slide">
               <div class="review-img"><div></div></div>
               <h3 class="review-title">Угловая шлифмашина Дніпро-М МШК-1250Р</h3>
               <span class="quotes">“</span>
               <h4 class="review-text">Безусловно, первое на что обращается внимание - это цена Протон ИСА 245. Не смотря на низкую стоимость, инвертор оснащен надежными...</h4>
               <p class="review-author">Александр Дмитренко</p>
               <a href='#' class="review-link"></a>
           </div> 
           <div class="reviews-slide">
               <div class="review-img"><div></div></div>
               <h3 class="review-title">Угловая шлифмашина Дніпро-М МШК-1250Р</h3>
               <span class="quotes">“</span>
               <h4 class="review-text">Безусловно, первое на что обращается внимание - это цена Протон ИСА 245. Не смотря на низкую стоимость, инвертор оснащен надежными...</h4>
               <p class="review-author">Александр Дмитренко</p>
               <a href='#' class="review-link"></a>
           </div> 
           <div class="reviews-slide">
               <div class="review-img"><div></div></div>
               <h3 class="review-title">Угловая шлифмашина Дніпро-М МШК-1250Р</h3>
               <span class="quotes">“</span>
               <h4 class="review-text">Безусловно, первое на что обращается внимание - это цена Протон ИСА 245. Не смотря на низкую стоимость, инвертор оснащен надежными...</h4>
               <p class="review-author">Александр Дмитренко</p>
               <a href='#' class="review-link"></a>
           </div> 
           <div class="reviews-slide">
               <div class="review-img"><div></div></div>
               <h3 class="review-title">Угловая шлифмашина Дніпро-М МШК-1250Р</h3>
               <span class="quotes">“</span>
               <h4 class="review-text">Безусловно, первое на что обращается внимание - это цена Протон ИСА 245. Не смотря на низкую стоимость, инвертор оснащен надежными...</h4>
               <p class="review-author">Александр Дмитренко</p>
               <a href='#' class="review-link"></a>
           </div> 
        </div>
    </section>
    <section class="finish-block">
        <div class="container all-text">
           <h3>Интернет-магазин электро и бензоинструмента</h3>
           <p>Интернет-магазин <span>VAREZ</span> специализируется на продаже электро, бензоинструмента и строительной техники. 
Наша цель: Предоставить потребителю возможность комфортно выбрать сварочное оборудование, ручной электроинструмент, садовую технику, строительное оборудование из ассортимента уже проверенных нами товаров. Итак, если вы ищете электроинструмент, то вы нашли подходящее место. Мы не распыляемся как многие другие. Здесь вы найдете инструмент. Никакие "чайники" и "кеды" не будут вас отвлекать!</p>
           <h3>Типы ручного электроинструмента, который можно купить в интернет-магазине</h3>
           <p>У нас вы можете купить электрическую дрель, аккумуляторный шуруповерт, перфоратор, сварочный аппарат, такие инструменты по профильной работе с деревом как: циркулярная или торцовочная пила, лобзик и рубанок. Если необходимо навести порядок в саду выбирайте мотокосу (бензиновый или электрический триммер), газонокосилку, бензопилу, мотоопрыскиватель. К этому мы предлагаем рассмотреть и купить такое оборудование как бензиновый генератор, стабилизатор напряжения, зарядное устройство, компрессор,тепловую пушку.</p>
           <h3>Качественный ручной электроинструмент известных брендов</h3>
           <p>У нас вы можете купить электрическую дрель, аккумуляторный шуруповерт, перфоратор, сварочный аппарат, такие инструменты по профильной работе с деревом как: циркулярная или торцовочная пила, лобзик и рубанок. Если необходимо навести порядок в саду выбирайте мотокосу (бензиновый или электрический триммер), газонокосилку, бензопилу, мотоопрыскиватель. К этому мы предлагаем рассмотреть и купить такое оборудование как бензиновый генератор, стабилизатор напряжения, зарядное устройство, компрессор,тепловую пушку.</p>
            
        </div>
    </section>
</div>
//= template/footer.html