//= template/header.html
       <div class="intro-all intro-one-click">
        <div class="pop-up-content-all pop-up-one-click">
            <div class="btn-menu-pop-up">
                <p class="first"></p>
                <p class="second"></p>
            </div>
            <div class="grey-line"><h3>Купить в один клик</h3></div>
            <div class='pop-up-content'>
               <div class="pop-up-img"></div>
                <p> Спасибо! Наш менеджер свяжется с Вами как можно скорее.</p>
            </div>

        </div>
       </div>
<div class="all-center-content">
    <section class="catalog-page">
        <div class="catalog-tabs">
           <div class="open close">
                <h3>Каталог</h3>
                <div class="btn-menu">
                  <p class="first"></p>
                  <p class="second"></p>
                  <p class="third"></p>
                </div>
            </div> 
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a href='index.html'>Главная</a></li>
                <li><a href='#'>Угловые шлифмашины</a></li>
            </ul>
        </div>
            <div class="catalog-open">
                <ul>
                    <li><a href="catalog.html">Отрезные круги</a></li>
                    <li><a href="catalog.html">Зачистные круги</a></li>
                    <li><a href="catalog.html">Электроды сварочные</a></li>
                    <li><a href="catalog.html">Проволока сварочная</a></li>
                    <li><a href="catalog.html">Круги лепестковые</a></li>
                    <li><a href="catalog.html">Щетки по металлу</a></li>
                    <li><a href="catalog.html">Алмазные диски по бетону</a></li>
                    <li><a href="catalog.html">Алмазные диски универсальные</a></li>
                    <li><a href="catalog.html">Сварочные маски</a></li>
                    <li><a href="catalog.html">Очки защитные</a></li>
                    <li><a href="catalog.html">Светофильтры</a></li>
                    <li><a href="catalog.html">Наконечники, сопла</a></li>
                    <li><a href="catalog.html">Сварочные горелки</a></li>
                    <li><a href="catalog.html">Запчасти</a></li>
                    <li><a href="catalog.html">Электрододержатели</a></li>
                    <li><a href="catalog.html">Клеммы массы</a></li>
                    <li><a href="catalog.html">Наконечники, сопла</a></li>
                    <li><a href="catalog.html">Газовые редукторы</a></li>
                    <li><a href="catalog.html">Манометры</a></li>
                    <li><a href="catalog.html">Кислородные шланги</a></li>
                    <li><a href="catalog.html">Перчатки</a></li>
                    <li><a href="catalog.html">Угловые шлифмашины</a></li>
                    <li><a href="catalog.html">Сварочные аппараты</a></li>
                </ul>
            </div>
</section>
    <section class="container product-page">
        <div class="main-product">
            <div class="main-product-top">
            <div class="slider-product">
              <div class="slider slider-for">
                <div class="slide-for"><div class='img'></div></div>
                <div class="slide-for"><div class='img img2'></div></div>
                <div class="slide-for"><div class='img img3'></div></div>
                <div class="slide-for"><div class='img img4'></div></div>
                <div class="slide-for"><div class='img img5'></div></div>
                <div class="slide-for"><div class='img img6'></div></div>
              </div>
              <div class="slider slider-nav">
                <div class="slide-nav"><div class='img'></div><div class="hover-bg"></div></div>
                <div class="slide-nav"><div class='img img2'></div><div class="hover-bg"></div></div>
                <div class="slide-nav"><div class='img img3'></div><div class="hover-bg"></div></div>
                <div class="slide-nav"><div class='img img4'></div><div class="hover-bg"></div></div>
                <div class="slide-nav"><div class='img img5'></div><div class="hover-bg"></div></div>
                <div class="slide-nav"><div class='img img6'></div><div class="hover-bg"></div></div>
              </div>
            </div>
            <div class="information-about">
                <h2 class="product-title">Угловая шлифовальная машина Bosch GWS 1000</h2>
                <div class="delivery">
                    <div class="delivery-img"></div>
                    <div><h3>бесплатная  доставка</h3>
                    <p>Доставка Новой Почтой <span>Бесплатно</span></p>
                    </div>
                </div>
                <div class="price-all">
                    <div class="price">
                        <h3>Крупно оптовая цена</h3>
                        <div>
                            <span>от 20 шт. — </span>
                            <p>
                                <span class="value">1085 грн.</span><span class="value sale">1085 грн.</span>
                            </p>
                        </div>
                    </div>  
                    <div class="price">
                        <h3>Оптовая цена</h3>
                        <div>
                            <span>от 3 шт. — </span>
                            <p>
                                <span class="value">1085 грн.</span><span class="value sale">1085 грн.</span>
                            </p>
                        </div>
                    </div> 
                    <div class="price">
                        <h3>Розничная цена</h3>
                        <div>
                            <span>за 1 шт. — </span>
                            <p>
                                <span class="value">1085 грн.</span><span class="value sale">1085 грн.</span>
                            </p>
                        </div> 
                    </div> 
                </div>
                    <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
                    есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
                    нет в наличии</p>
                    <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                    </div>
                   <form class="icon">
                       <button class="basket"><span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                       <button class="star">
                           <span></span>
                       </button>
                   </form>
                   <form action="#" method="post" class="in-one-click">
                       <input type="tel" required placeholder="+38 ___ ___ __ __" id="user_phone-one-click" title ="Формат: +38 096 999 99 99"/>
                       <input type="submit" class="one-click-btn" disabled value='Купить в один клик'/>
                   </form>
                   <div class="delivery-variant">
                       <h4>Доступные варианты:</h4>
                       <form>
                       <div class="all-checkbox">
                            <div class='checkbox'>
                                <input type="radio" id="weight-one" name="radio">
                                <label for="weight-one">0,5 кг</label>
                            </div>
                            <div class='checkbox'>
                                <input type="radio" id="weight-two" name="radio">
                                <label for="weight-two">1 кг</label>
                            </div>
                            <div class='checkbox'>
                                <input type="radio" id="weight-three" name="radio">
                                <label for="weight-three">1,5 кг</label>
                            </div>
                            <div class='checkbox'>
                                <input type="radio" id="weight-four" name="radio">
                                <label for="weight-four">2 кг</label>
                            </div>
                            <div class='checkbox'>
                                <input type="radio" id="weight-five" name="radio">
                                <label for="weight-five">2,5 кг</label>
                            </div>
                        </div>
                        <select>
                            <option>Еще</option>
                        </select>
                       </form>
                   </div>
                </div>
            </div>
            <div class="tabs">
                <ul class="tabs-capion">
                    <li class="active">Описание</li>
                    <li>Отзывы (5)</li>
                    <a class='tabs-caption-review' id='desktop-review-link' href='#'> Оставить отзыв</a>
                </ul>
                <div>
                    <div class="tabs__content tab-description active">
                    <p>Угловая шлифмашина BOSCH GWS 1000 Professional - удобный электроинструмент для резки и шлифовки с дополнительной защитой. Малую болгарку 125 мм BOSCH GWS 1000 Professional применяют для резки бетона, черных и цветных металлов, древесины, пластика, минеральных материалов, камня (в том числе, и для сухого сверления камня), при замене пильных кругов 125 мм на шлифовальные болгаркой BOSCH GWS 1000 Professional можно выполнять шлифовку, крацевание и обдирку черных металлов, шлифовку и крацевание цветных металлов, крацевание материала покрытия. Модель углошлифовальной машины BOSCH GWS 1000 Professional оснащена поворотной головкой редуктора (с шагом 90 градусов).</p>
                    </div>
                    <div class="tabs__content tab-reviews">
                       <div>
                            <div class="one-review">
                                <p class='review-author'>Александр Дмитренко<span>предприниматель</span></p>
                                <p class="review-text">Безусловно, первое на что обращается внимание - это цена Протон ИСА 245. Не смотря на низкую стоимость, инвертор оснащен надежными...</p>
                            </div>
                            <div class="one-review">
                                <p class='review-author'>Александр Дмитренко<span></span></p>
                                <p class="review-text">Безусловно, первое на что обращается внимание - это цена Протон ИСА 245. Не смотря на низкую стоимость, инвертор оснащен надежными...</p>
                            </div>
                        </div>
                        <a class='tabs-caption-review' id='mobile-review-link' href='#'> Оставить отзыв</a>
                    </div>
                </div> 
                <table>
                    <tr><th>Характеристики</th></tr>
                    <tr><td>Производитель:</td><td>Bosch</td></tr>
                    <tr><td>Артикул:</td><td>0601824800</td></tr>
                    <tr><td>Доступно:</td><td>На складе</td></tr>
                    <tr><td>Мощность:</td><td>1400 Вт</td></tr>
                    <tr><td>Диаметр круга:</td><td>125 мм</td></tr>
                    <tr><td>Быстрозажимная гайка:</td><td>Да</td></tr>
                    <tr><td>Гарантия:</td><td>36 мес.</td></tr>
                </table>           
            </div> 
            
        </div>
        <div class="widgets-block">
            <div class="widgets-info">
                <div class="info-block">
                    <div class="icon-widget">
                        <div><span></span></div><h3>Доставка</h3>
                    </div>
                    <p>Новая почта</p>
                    <p>ИнТайм</p>
                    <p>Самовывоз Николаев</p>
                </div>
                <div class="info-block">
                    <div class="icon-widget">
                        <div><span class="money"></span></div>
                        <h3>Оплата</h3>
                    </div>
                    <p>Наложенным платежом</p>
                    <p>Оплата картой</p>
                    <p>Приват 24</p>
                    <p>Наличными при получении</p>
                    <p>Платеж на расчетный счет (с НДС)</p>
                </div>
                <div class="info-block">
                    <div class="icon-widget">
                        <div><span class="phone"></span></div>
                        <h3>Возникли вопросы?<br>ЗВОНИТЕ:</h3>
                    </div>
                    <h4>+38 (066) 000-00-00</h4>
                    <h4>+38 (093) 111-11-11</h4>
                    <h4>+38 (098) 222-22-22</h4>
                    <p>или <span>мы сами Вам перезвоним</span></p>
                </div>
                
            </div>
            <div class="widgets-product">
               <h3>Похожие товары</h3>
               <div class="product-widget">
                   <div class="prod-img"></div>
                   <div>
                       <h4>Угловая шлифмашина BOSCH GWS 1000 Professional</h4>
                       <h5>Крупно оптовая цена</h5>
                       <p>от 20 шт.- <span>2500 грн.</span></p>
                       <h5>Оптовая цена</h5>
                       <p>от 5 шт.- <span>2995 грн.</span></p>
                       <h5>Розничная цена</h5>
                       <p>за 1 шт.- <span>3099 грн.</span></p>
                   </div>
               </div>
               <div class="product-widget">
                   <div class="prod-img"></div>
                   <div>
                       <h4>Угловая шлифмашина BOSCH GWS 1000 Professional</h4>
                       <p><span>3099 грн.</span></p>
                   </div>
               </div>
               <div class="product-widget">
                   <div class="prod-img"></div>
                   <div>
                       <h4>Угловая шлифмашина BOSCH GWS 1000 Professional</h4>
                       <h5>Оптовая цена</h5>
                       <p>от 5 шт.- <span>2995 грн.</span></p>
                       <h5>Розничная цена</h5>
                       <p>за 1 шт.- <span>3099 грн.</span></p>
                   </div>
               </div>
               <div class="product-widget">
                   <div class="prod-img"></div>
                   <div>
                       <h4>Угловая шлифмашина BOSCH GWS 1000 Professional</h4>
                       <p><span>3099 грн.</span></p>
                   </div>
               </div>
               <a href='catalog.html'>Смотреть все предложения</a>
            </div>
        </div>
    </section>
    <section>
        <div class="container product-tablets recommenda-product">
          <div class="grey-line"><h3>Вместе покупают</h3></div>
           <div class="product-block">
               <div class="product">
                   <div class="labels">
                       <span class="news">новинка</span>
                       <span class="hit">хит</span>
                       <span class="sale">-15%</span>
                   </div>
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket">
                       <span>
                         <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                                                <style type="text/css">
                                                    .st0{fill:#F94952;}
                                                </style>
                                                <g>
                                                <g>
                                                <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                                                    l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                                                    l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                                                    h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                                                     M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                                    C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                                    C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                                    C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                                    C29.6,28.2,28.8,29,27.9,29z"/>
                                                </g>
                                                </g>
                           </svg>
                       </span>
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
               </div>
               <div class="product default">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price"><span>849 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
                  <div class="product">
                       <div class="product-img"></div>
                       <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98 Dnipro-M GS-98</h3>
                       <div class="price"><span>800 грн.</span></div>
                       <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                       <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                      <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                       </div>
                       <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket"><span>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                           </span>
                           <span class="basket-title">Корзина</span>
                           </button>
                       </form>
                   </div>
               <div class="product">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>885 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
               </div>
               <div class="product varient">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <div class="price-varient">
                      <div>
                         <h3>КРУПНО ОПТОВАЯ ЦЕНА</h3>
                         <p><span>от 20 шт.</span><span> — </span><span class="value">885 грн.</span></p>
                      </div>  
                      <div>
                         <h3>ОПТОВАЯ ЦЕНА</h3>
                         <p><span>от 3 шт.</span><span> — </span><span class="value">985 грн.</span></p> 
                      </div> 
                      <div>
                         <h3>РОЗНИЧНАЯ ЦЕНА</h3>
                         <p><span>от 1 шт.</span><span> — </span><span class="value">1085 грн.</span></p> 
                      </div> 
                   </div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
               <div class="product">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price"><span>885 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
           </div>
        </div>
    </section>
    <section>
        <div class="container product-tablets watched-product">
          <div class="grey-line"><h3>Просмотренные товары</h3></div>
           <div class="product-block">
               <div class="product">
                   <div class="labels">
                       <span class="news">новинка</span>
                       <span class="hit">хит</span>
                       <span class="sale">-15%</span>
                   </div>
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket">
                       <span>
                         <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                                                <style type="text/css">
                                                    .st0{fill:#F94952;}
                                                </style>
                                                <g>
                                                <g>
                                                <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                                                    l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                                                    l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                                                    h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                                                     M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                                    C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                                    C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                                                    C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                                                    C29.6,28.2,28.8,29,27.9,29z"/>
                                                </g>
                                                </g>
                           </svg>
                       </span>
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
               </div>
               <div class="product default">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price"><span>849 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
                  <div class="product">
                       <div class="product-img"></div>
                       <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98 Dnipro-M GS-98</h3>
                       <div class="price"><span>800 грн.</span></div>
                       <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                       <div class="availability">
                           <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                           <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                      <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                       </div>
                       <form class="icon">
                           <button class="star"><span></span></button>
                           <button class="basket"><span>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                           </span>
                           <span class="basket-title">Корзина</span>
                           </button>
                       </form>
                   </div>
               <div class="product">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>885 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span>
                       </button>
                   </form>
               </div>
               <div class="product varient">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price">от<span>7,90 грн.</span></div>
                   <div class="price-varient">
                      <div>
                         <h3>КРУПНО ОПТОВАЯ ЦЕНА</h3>
                         <p><span>от 20 шт.</span><span> — </span><span class="value">885 грн.</span></p>
                      </div>  
                      <div>
                         <h3>ОПТОВАЯ ЦЕНА</h3>
                         <p><span>от 3 шт.</span><span> — </span><span class="value">985 грн.</span></p> 
                      </div> 
                      <div>
                         <h3>РОЗНИЧНАЯ ЦЕНА</h3>
                         <p><span>от 1 шт.</span><span> — </span><span class="value">1085 грн.</span></p> 
                      </div> 
                   </div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
               <div class="product">
                   <div class="product-img"></div>
                   <h3 class="product-title">Угловая шлифмашина Dnipro-M GS-98</h3>
                   <div class="price"><span>885 грн.</span></div>
                   <p class="delivery">БЕСПЛАТНАЯ ДОСТАВКА</p>
                   <div class="availability">
                       <p class="true"><i class="fa fa-circle" aria-hidden="true"></i>
есть в наличии</p>
                       <p class="false"><i class="fa fa-circle" aria-hidden="true"></i>
нет в наличии</p>
                  <p class="finished"><i class="fa fa-circle" aria-hidden="true"></i>
товар ожидается</p>
                   </div>
                   <form class="icon">
                       <button class="star"><span></span></button>
                       <button class="basket"><span>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.6 31" style="enable-background:new 0 0 35.6 31;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F94952;}
                        </style>
                        <g>
                        <g>
                        <path class="st0" d="M35.4,5.6c-0.2-0.3-0.5-0.4-0.8-0.4H8.5L7.3,0.8C7.2,0.3,6.8,0,6.4,0H1C0.5,0,0,0.5,0,1s0.5,1,1,1h4.5
                            l1.1,4.4c0,0,0,0,0,0l4,15.5c0.1,0.5,0.5,0.8,1,0.8h18.9c0.5,0,0.9-0.3,1-0.8l4-15.5C35.7,6.1,35.6,5.8,35.4,5.6z M16.1,20.6h-3.6
                            l-0.8-3.1h4.4V20.6z M16.1,15.5h-5l-0.8-3.1h5.8V15.5z M16.1,10.3H9.8L9,7.2h7.1V10.3z M24.1,20.6h-5.9v-3.1h5.9V20.6z M24.1,15.5
                            h-5.9v-3.1h5.9V15.5z M24.1,10.3h-5.9V7.2h5.9V10.3z M29.8,20.6h-3.6v-3.1h4.4L29.8,20.6z M31.1,15.5h-5v-3.1h5.8L31.1,15.5z
                             M32.5,10.3h-6.3V7.2h7.1L32.5,10.3z M14.4,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C18.2,25.2,16.5,23.5,14.4,23.5z M14.4,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C16.1,28.2,15.4,29,14.4,29z M27.9,23.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8
                            C31.6,25.2,29.9,23.5,27.9,23.5z M27.9,29c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7
                            C29.6,28.2,28.8,29,27.9,29z"/>
                        </g>
                        </g>
                        </svg>
                       </span>
                       <span class="basket-title">Корзина</span></button>
                   </form>
               </div>
           </div>
        </div>
    </section>
    <section>
        <div class="container all-text">
           <h3>Интернет-магазин электро и бензоинструмента</h3>
           <p>Интернет-магазин <span>VAREZ</span> специализируется на продаже электро, бензоинструмента и строительной техники. 
Наша цель: Предоставить потребителю возможность комфортно выбрать сварочное оборудование, ручной электроинструмент, садовую технику, строительное оборудование из ассортимента уже проверенных нами товаров. Итак, если вы ищете электроинструмент, то вы нашли подходящее место. Мы не распыляемся как многие другие. Здесь вы найдете инструмент. Никакие "чайники" и "кеды" не будут вас отвлекать!</p>
           <h3>Типы ручного электроинструмента, который можно купить в интернет-магазине</h3>
           <p>У нас вы можете купить электрическую дрель, аккумуляторный шуруповерт, перфоратор, сварочный аппарат, такие инструменты по профильной работе с деревом как: циркулярная или торцовочная пила, лобзик и рубанок. Если необходимо навести порядок в саду выбирайте мотокосу (бензиновый или электрический триммер), газонокосилку, бензопилу, мотоопрыскиватель. К этому мы предлагаем рассмотреть и купить такое оборудование как бензиновый генератор, стабилизатор напряжения, зарядное устройство, компрессор,тепловую пушку.</p>
           <h3>Качественный ручной электроинструмент известных брендов</h3>
           <p>У нас вы можете купить электрическую дрель, аккумуляторный шуруповерт, перфоратор, сварочный аппарат, такие инструменты по профильной работе с деревом как: циркулярная или торцовочная пила, лобзик и рубанок. Если необходимо навести порядок в саду выбирайте мотокосу (бензиновый или электрический триммер), газонокосилку, бензопилу, мотоопрыскиватель. К этому мы предлагаем рассмотреть и купить такое оборудование как бензиновый генератор, стабилизатор напряжения, зарядное устройство, компрессор,тепловую пушку.</p>
            
        </div>
    </section>
</div>
//= template/footer.html